APP_ENV=local
LOG_LEVEL=info

GRPC_HOST=0.0.0.0
GRPC_PORT=9094

SCYLLA_HOSTS=127.0.0.1
SCYLLA_PORT=9042
SCYLLA_KEYSPACE=file_service
SCYLLA_USERNAME=admin
SCYLLA_PASSWORD=admin

RUSTFS_ENDPOINT=http://127.0.0.1:9006
RUSTFS_ACCESS_KEY=rustfsadmin
RUSTFS_SECRET_KEY=rustfsadmin
RUSTFS_REGION=us-east-1
RUSTFS_BUCKET=ofm-files
